@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:ital,wght@1,300;1,400&display=swap');

*{
  box-sizing: border-box;
}
body{
    background: #173f5f;
    color: #ffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
  
}
.countdown-container{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1rem;
   
}
